<div class="panel panel-primary">
    <div class="panel-heading">
        <h2 class="text-center">Produtos disponíveis</h2>
    </div>
    <div class="panel-body">
        @Html.ActionLink("Metas", "Lista", "Meta", null, new { @class = "btn btn-primary"})
        @Html.ActionLink("Cronograma Diário", "DetalharDia", "Cronograma", null, new { @class = "btn btn-primary"})
    </div>
</div>
