@model UC.Models.ViewModels.VMPessoa

@if (Model != null)
{
    @Html.Partial("_PartialInfoPessoa", Model)

    if (Model.Professores != null)
    {
        @Html.Partial("_PartialViewListaProfessorTurma", Model.Professores)
    }

    if (Model.Alunos != null)
    {
        @Html.Partial("_PartialViewListaAluno", Model.Alunos)
    }

    @*if (Model.Permissoes != null)
    {
        @Html.Partial("_PartialViewListaAula", Model.Permissoes)
    }*@
}
else
{
    <div class="panel-body">
        <h3>Erro ao carregar página.</h3>
    </div>
}
