@model string

<div class="panel panel-primary">
    <div class="panel-heading">
        <h2 class="text-center">Resultado</h2>
    </div>
    <div class="panel-body">
        <p>@Model</p>
    </div>
</div>