@model UC.Models.ViewModels.ListViewModels.VMListTurma

@{
    ViewBag.Title = "Turmas";
}

<div class="panel panel-info">
    <span class="panel-title-col">Turmas</span>
</div>
<div class="panel-body">
    @if (Model.Turmas != null && Model.Turmas.Any())
    {
        <table class="table-bordered" style="min-width: 100%; text-align:center;">
            <thead>
                <tr style="line-height: 3em;">
                    <th style="text-align: center;">Nome</th>
                    <th style="text-align: center;">Recorrência</th>
                    <th style="text-align: center;">Duração da Aula</th>
                    <th style="text-align: center;">Opções</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var cadaTurma in Model.Turmas)
                {
                    <tr>
                        <td>@cadaTurma.Nome</td>
                        <td>@cadaTurma.DiasDaSemana.todosOsDias</td>
                        <td>@cadaTurma.DuracaoAula Min</td>
                        <td>@Html.ActionLink("Saiba Mais", "Detalhes", "Turma", new { Area = "Comum", turmaUID = cadaTurma.turmaUID }, new { @class = "btn btn-default" })</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <div class="panel-body">
            <h3>Não há tumas disponíveis no momento.</h3>
        </div>
    }
</div>
